---
import ProjectCard from "../React/ProjectCard.tsx";
import ae2i from "../../public/ae2i.png";
import stockin from "../../public/stockin.png";
import talkweet from "../../public/talkweet.jpg";

const projects = [
  {
    title: "Application Web pour l'association étudiante AE2i - SAE S5.A.01",
    image: ae2i,
    link: "/projects/ae2i",
    preview: "#",
    status: "Terminé",
    description: "Application web pour la gestion des associations étudiantes, développée avec Flask, MongoDB et React."
  },
  {
    title: "Application web pour la Gestion des frais professionnels - SAE S4.A.01",
    image: stockin,
    link: "/projects/gestion-frais",
    preview: "#",
    status: "Terminé",
    description: "Application de gestion des frais de déplacement pour les employés d’une entreprise, optimisée pour la rapidité et la sécurité."
  },
  {
    title: "Talkweet - Stage BUT2",
    image: talkweet,
    link: "/projects/talkweet",
    preview: "#",
    status: "Finalisé et publié",
    description: "Refonte et sécurisation d'une application mobile d'événements locaux, publiée sur l’App Store."
  }
];
---

<section id="projects" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Mes réalisations</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Projets</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {projects.map(project => (
         <ProjectCard project={project} client:load />
      ))}
    </div>
  </div>
</section>
