---
import WelcomeAnimation from "../components/WelcomeAnimation.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;

// Détecter si c'est une page projet
const isProjectPage = Astro.url.pathname.startsWith("/projects/");
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Développeur d'applications mobiles & web" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="bg-[--background] md:px-48 lg:px-20 px-9">
    
    <!-- Si ce n'est pas une page projet, affiche l'animation de bienvenue -->
    { !isProjectPage && <WelcomeAnimation /> }

    <!-- Affichage d'un bouton retour uniquement sur les pages projets -->
    { isProjectPage && (
      <nav class="fixed top-0 left-0 w-full bg-[--sec] py-4 px-8 z-50">
        <a href="/" class="text-white text-lg font-bold">← Retour</a>
      </nav>
    )}

    <main class={isProjectPage ? "pt-16" : ""}>
      <slot />
    </main>

    
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  :root {
    --background: #101010;
    --sec: #A476FF;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
    --font: "montserrat", system-ui, sans-serif;
  }

  * {
    font-family: var(--font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }

  /* Style pour le conteneur de musique persistant */
  .persistent-music {
    position: fixed;
    top: 10px; /* Position en haut */
    right: 10px; /* Aligné à droite */
    z-index: 1000;
  }

  .project-title {
    white-space: pre-line;
  }

  /* Style du bouton retour */
  nav a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
