---
import WelcomeAnimation from "../components/WelcomeAnimation.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Développeur d'applications mobiles & web" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="bg-[--background] md:px-48 lg:px-20 px-9">
    <WelcomeAnimation />
    <slot />
    <!-- Conteneur persistant pour la musique Spotify -->
    <div id="persistent-music" class="persistent-music">
      <iframe 
        style="border-radius:12px; border:0;"
        src="https://open.spotify.com/embed/album/2ANVost0y2y52ema1E9xAZ?utm_source=generator&theme=0&autoplay=1"
        width="300"
        height="80"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        aria-label="Spotify Embed"
      ></iframe>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

  :root {
    --background: #101010;
    --sec: #A476FF;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
    --font: "montserrat", system-ui, sans-serif;
  }

  * {
    font-family: var(--font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }

  /* Style pour le conteneur de musique persistant */
  .persistent-music {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }
</style>
